body {
	background: #111;
	color: #ccc;
	font-family: 'Monda', sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding-top: 40px;
}

@media ( max-width: 979px ) {
	body {
		padding-top: 0;
	}
}

::selection {
	background: #e44d26;
	color: #fff;
}

a::selection {
	color: #333;
}

::-moz-selection {
	background: #e44d26;
	color: #fff;
}

a::-moz-selection {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px 0;
}

a {
	color: #e44d26;
}

a:hover {
	color: #f16529;
}

.tm20 {
	margin-top: 20px;
}

.label {
	background-color: #555;
}

.link-light, .link-light a {
	color: #ccc !important;
}

.font-cursive {
	font-family: 'Lobster', cursive;
}

.text-large {
	font-size: 18px;
	line-height: 30px;
}

.heading {
	border-bottom: 1px solid #111;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.navbar-inverse .navbar-inner {
	background: #080808;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-inner .active > a {
	background: none;
	border-bottom: 1px solid #f16529;
}

#header .dropdown-menu li > a:hover {
	background: #e44d26;
	color: #fff;
}

#logo-container {
	width: 100%;
	height: 100%;
	position: relative;
}

#logo-html5,
#logo-html5-des,
#logo-game,
#logo-dev {
	display: none;
	left: 50%;
	margin-left: -64px;
	position: absolute;
	top: 50%;
	margin-top: -64px;
}

#logo-game,
#logo-dev {
	color: #eee;
	font-family: 'Shojumaru';
	font-size: 50px;
	margin-top: -10px;
	text-shadow: 0 0 10px rgba( 255, 255, 255, .6 );
}

#logo-game {
	margin-left: -270px;
}

#logo-dev {
	margin-left: 104px;
}

.section {
	border-top: 1px solid #252525;
	padding: 40px 0;
}

@media ( max-width: 767px ) {
	.section {
		padding: 15px;
	}
}

.section-dark {
	background: #080808;
}

.well-dark {
	background: #080808;
	border: 1px solid #252525;
	border-radius: 4px;
	display: block;
	padding: 20px;
}

a.well-dark {
	color: #ccc;
	text-decoration: none;
}

a.well-dark:hover h3 {
	color: #f16529;
}

.game-logo {
	display: block;
	margin-bottom: 10px;
}

.track-list {
	margin: 0;
}

.track-list li {
	margin: 20px 0 0 44px;
}

.track-list li a {
	color: #fff;
	text-decoration: none;
}

.track-list li a:hover {
	color: #f16529;
}

.track-list li p {
	font-size: 80%;
	margin-top: 10px;
	padding-left: 20px;
}

#chat-messages {
	max-height: 300px;
	overflow-x: auto;
	margin-bottom: 10px;
}

#footer .span3 a {
	display: block;
	color: #999;
}

#footer .span3 a:hover {
	color: #f16529;
}

#submitgame-form #form{
	padding: 10px;
}

.persona {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 24px 0;
	padding-bottom: 6px;
	
	background-color: #080808;
	
	color: #FFF;
}

.persona-icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	
	background-size: 100%;
	width: 190px;
	height: 190px;
	
	border: 8px solid #111;
}

.persona .span2 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 46px;
}

.persona .span2.text-right {
	padding-left: 0;
	padding-right: 46px;
}

.persona .row.space {
	margin-top: 38px;
}

.persona .about-icon {
	padding-left: 34px;
	font-size: 3em;
	color: #e44d26;
}

.persona .about {
	font-size: .9em;
	padding-left: 80px;
	max-width: 174px;
	margin-top: -26px;
}

.persona .band {
	margin-top: 24px;
	background-color: #222;
}

.persona .band > div {
	padding: 10px 46px;
}

.recent {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 5px 0;
	background-color: #222;
}

.recent h1, .recent h2, .recent h3 {
	margin-bottom: 20px;
	background-color: #111;
	margin-right: -5px;
	padding: 5px 12px;
	background: #333;
	text-shadow: 1px 1px 2px #111;
}

.feed {
	padding: 0 20px;
}

.feed a {
	text-decoration: none;
}

.feed a > p {
	color: #bbb;
	font-size: .8em;
}

.feed a:hover {
	text-decoration: none;
}

.feed p {
	margin-bottom: 25px;
}

.feed ul {
	margin-top: 5px;
	margin-bottom: 0;
}

.level {
	display: inline-block;
	background: #080808;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
}

.level.locked {
	background: #333;
}

.modal {
	background: #ddd;
	color: #000;
	border-radius: 0;
}

.modal-header {
	border: none;
}

.modal-footer {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 0;
	border: none !important;
	box-shadow: none;
}

hr {
	border-color: #262626;
	margin: 15px 0 !important;
}

.popover {
	border-radius: 0 !important;
	background-color: #ddd !important;
	border: 8px solid #bbb !important;
	box-shadow: none !important;
	color: #111 !important;
	font-size: 18px;
}

.popover.bottom .arrow {
	top: -19px !important;
	.popover.bottom .arrow: #bbb !important;
}

.popover.bottom .arrow:after {
	border-bottom-color: #bbb !important;
}

.popover b {
	display: block;
	font-weight: bold;
	border-bottom: 1px solid #111;
}
